<html lang="en">
<head>
  <title>the course is</title>
</head>
<body>
    <div class="table-data">
        <h2>Display Data using Node.js & MySQL</h2>
            <table border="1">
                <tr>
                    <th>student_id</th>
                    <th>course_name</th>
                </tr>
                <%
                if(hello.length!=0){
                var i=1;
                hello.forEach(function(data){
                %>
                <tr>
                    <td><%=i; %></td>
                    <td><%=data.student_id %></td>
                    <td><%=data.course_name %></td>
                 
                    
              
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
            </table>
            </div>
</body>