<Html>  
    <head>   
    <title>  
    Registration Page  
    </title>  
    </head>  
    <body>  
    <br>  
    <br>  
    <form action="/display" method="POST">       
   name: <input type="text" name="name" size="15"/> <br> <br>       
    <input type="submit" value="Submit"/>  
    </form>  
    </body>  
    </html>  